body{
    font-family: font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 40px;
    border-left: tomato;

}
.task{
    color: black;
}
.year{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 55%;
}
.button-link{
    background-color:orangered;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;

}